.navbar {
    margin: 16px 0px;
    padding: 8px 40px;
    background-color: #f5f5f5;
}
.navbar button {
    padding: 8px;
    background-color: #f5f5f5;
    font-size: 1.6rem;
    font-weight: 550;
}
.active {
    border-bottom: 3px solid red;
}
